<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codenicely.discountstore.project1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:name="com.codenicely.discountstore.project1.helper.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name="com.codenicely.discountstore.project1.splash_screen.view.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.codenicely.discountstore.project1.home.HomePage" />

        <!-- Main activity -->

        <activity android:name="com.codenicely.discountstore.project1.login.view.LoginScreenActivity" />
        <activity android:name="com.codenicely.discountstore.project1.verify_otp.view.OtpViewImpl" />
        <activity
            android:name="com.codenicely.discountstore.project1.welcome_screen.view.WelcomeScreenActivity"
            android:label="@string/app_name" />
        <activity android:name="com.codenicely.discountstore.project1.wallet.view.WalletActivity"></activity>
        <activity android:name="com.codenicely.discountstore.project1.payment.view.PaymentActivity"></activity>

    </application>

</manifest>